openapi: 3.0.3
info:
  title: Harness NextGen Software Delivery Platform API Reference
  description: This is the Open Api Spec 3 for NextGen Manager. This is under active
    development. Beware of the breaking change with respect to the generated code
    stub
  contact:
    email: contact@harness.io
  version: "1.0"
servers:
- url: https://app.harness.io
  description: Harness host URL.
tags:
- name: Organization
  description: "Create and manage organizations in your account. You use organizations\
    \ to group together related projects. For example, you can use an organization\
    \ to group together projects within a business unit or division."
- name: Org Project
  description: This contains APIs for projects.
  x-displayName: "Project [Beta]"
- name: Account Secret
  description: This contains APIs for account-scoped secrets.
  x-displayName: "Account Secrets [Beta]"
- name: Org Secret
  description: This contains APIs for organization-scoped secrets.
  x-displayName: "Organization Secrets [Beta]"
- name: Project Secret
  description: This contains APIs for project-scoped secrets.
  x-displayName: "Project Secrets [Beta]"
- name: Account Services
  description: This contains APIs for account-scoped services.
  x-displayName: "Account Services [Beta]"
- name: Org Services
  description: This contains APIs for organization-scoped services.
  x-displayName: "Organization Services [Beta]"
- name: Project Services
  description: This contains APIs for project-scoped services.
  x-displayName: "Project Services [Beta]"
- name: Project Environments
  description: This contains APIs for project-scoped environments.
  x-displayName: "Project Environments [Beta]"
- name: Account Favorites
  description: This contains APIs for account-scoped Favorites.
  x-displayName: "Account Favorites [Beta]"
- name: Org Favorites
  description: This contains APIs for organization-scoped Favorites.
  x-displayName: "Organization Favorites [Beta]"
- name: Project Favorites
  description: This contains APIs for project-scoped Favorites.
  x-displayName: "Project Favorites [Beta]"
- name: Account Rancher Infrastructure
  description: This contains APIs for Rancher infra entities for account level.
  x-displayName: "Account Rancher Infrastructure [Beta]"
- name: Org Rancher Infrastructure
  description: This contains APIs for Rancher infra entities for org level.
  x-displayName: "Org Rancher Infrastructure [Beta]"
- name: Project Rancher Infrastructure
  description: This contains APIs for Rancher infra entities for project level.
  x-displayName: "Project Rancher Infrastructure [Beta]"
- name: K8s Release Service Mapping
  description: This contains APIs for Fetching Release details regarding a pod.
  x-displayName: "K8s Release Service Mapping [Beta]"
- name: EULA
  description: This contains APIs for EULA.
  x-displayName: "EULA [Beta]"
- name: Account Certificate
  description: This contains APIs for account-scoped Certificates
  x-displayName: "Account Certificates [Beta]"
- name: Org Certificate
  description: This contains APIs for organization-scoped Certificates
  x-displayName: "Org Certificates [Beta]"
- name: Project Certificate
  description: This contains APIs for project-scoped Certificates
  x-displayName: "Project Certificates [Beta]"
- name: IP Allowlist
  description: This contains APIs for IP Allowlist.
  x-displayName: "IP Allowlist [Beta]"
- name: GitX Webhooks
  description: This contains APIs for Account GitX Webhooks.
  x-displayName: "Account GitX Webhooks [Beta]"
- name: Org GitX Webhooks
  description: This contains APIs for Org GitX Webhooks.
  x-displayName: "Org GitX Webhooks [Beta]"
- name: Project GitX Webhooks
  description: This contains APIs for Project GitX Webhooks.
  x-displayName: "Project GitX Webhooks [Beta]"
- name: Gitx Webhooks Events
  description: This contains APIs for Account Gitx Webhooks Events.
  x-displayName: "Account Gitx Webhooks Events [Beta]"
- name: Org Gitx Webhooks Events
  description: This contains APIs for Org Gitx Webhooks Events.
  x-displayName: "Org Gitx Webhooks Events [Beta]"
- name: Project Gitx Webhooks Events
  description: This contains APIs for Project Gitx Webhooks Events.
  x-displayName: "Project Gitx Webhooks Events [Beta]"
paths:
  /v1/orgs/{org}/projects/{project}/services/{service}:
    get:
      tags:
      - Project Services
      summary: Retrieve a service
      description: Retrieves the specified service
      operationId: get-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    put:
      tags:
      - Project Services
      summary: Update Service
      description: Updates the specified service
      operationId: update-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    delete:
      tags:
      - Project Services
      summary: Delete a Service
      description: Deletes the requested service.
      operationId: delete-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: forceDelete
        in: query
        description: Enable this field to force delete the entity
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}/services:
    get:
      tags:
      - Project Services
      summary: List Services
      description: Returns a list of the services for which you have view permissions
        in the given project.
      operationId: get-services
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: service_ids
        in: query
        description: List of Service Identifiers
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: is_access_list
        in: query
        description: Specifies whether the list is an access list. An access list
          is a list of services that you are permitted to use in a pipeline.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: deployment_type
        in: query
        description: Service Definition Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Kubernetes
          - NativeHelm
          - Ssh
          - WinRm
          - ServerlessAwsLambda
          - AzureWebApp
          - GitOps
          - ECS
          - TAS
          - CustomDeployment
          - Elastigroup
          - Asg
          - GoogleCloudFunctions
          - AwsLambda
          - AWS_SAM
      - name: git_ops_enabled
        in: query
        description: Enables you to use the service in Harness GitOps PR pipelines.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Example response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
                x-content-type: application/json
              examples:
                example-1:
                  value:
                  - service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    - service:
                        account: sample_account
                        identifier: example_service
                        org: sample_organization
                        project: sample_project
                        name: Example_service
                        description: This is a example service
                        tags:
                          example-tag-1: example-tag-1-value
                          example-tag-2: example-tag-2-value
                        yaml: |
                          service:
                            name: "Example_service"
                            identifier: "example_service"
                            tags: {}
                      created: 1234567890
                      updated: 1234567890
      security:
      - x-api-key: []
    post:
      tags:
      - Project Services
      summary: Create a Service
      description: Creates a service
      operationId: create-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      responses:
        "201":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/orgs/{org}/services/{service}:
    get:
      tags:
      - Org Services
      summary: Retrieve a service
      description: Retrieves the specified service
      operationId: get-org-scoped-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    put:
      tags:
      - Org Services
      summary: Update Service
      description: Updates the specified service
      operationId: update-org-scoped-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    delete:
      tags:
      - Org Services
      summary: Delete a service
      description: Deletes the requested service
      operationId: delete-org-scoped-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: forceDelete
        in: query
        description: Enable this field to force delete the entity
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/orgs/{org}/services:
    get:
      tags:
      - Org Services
      summary: List Services
      description: Returns a list of the services for which you have view permissions
        in the given project.
      operationId: get-org-scoped-services
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: service_ids
        in: query
        description: List of Service Identifiers
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: is_access_list
        in: query
        description: Specifies whether the list is an access list. An access list
          is a list of services that you are permitted to use in a pipeline.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: deployment_type
        in: query
        description: Service Definition Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Kubernetes
          - NativeHelm
          - Ssh
          - WinRm
          - ServerlessAwsLambda
          - AzureWebApp
          - GitOps
          - ECS
          - TAS
          - CustomDeployment
          - Elastigroup
          - Asg
          - GoogleCloudFunctions
          - AwsLambda
          - AWS_SAM
      - name: git_ops_enabled
        in: query
        description: Enables you to use the service in Harness GitOps PR pipelines.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Example response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
                x-content-type: application/json
              examples:
                example-1:
                  value:
                  - service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    - service:
                        account: sample_account
                        identifier: example_service
                        org: sample_organization
                        project: sample_project
                        name: Example_service
                        description: This is a example service
                        tags:
                          example-tag-1: example-tag-1-value
                          example-tag-2: example-tag-2-value
                        yaml: |
                          service:
                            name: "Example_service"
                            identifier: "example_service"
                            tags: {}
                      created: 1234567890
                      updated: 1234567890
      security:
      - x-api-key: []
    post:
      tags:
      - Org Services
      summary: Create a service
      description: Creates a service
      operationId: create-org-scoped-service
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      responses:
        "201":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/services/{service}:
    get:
      tags:
      - Account Services
      summary: Retrieve a service
      description: Retrieves the specified service
      operationId: get-account-scoped-service
      parameters:
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    put:
      tags:
      - Account Services
      summary: Update service
      description: Updates the specified service
      operationId: update-account-scoped-service
      parameters:
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceUpdateRequest'
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
    delete:
      tags:
      - Account Services
      summary: Delete a service
      description: Deletes the requested service
      operationId: delete-account-scoped-service
      parameters:
      - name: service
        in: path
        description: Identifier field of the service the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: forceDelete
        in: query
        description: Enable this field to force delete the entity
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/services:
    get:
      tags:
      - Account Services
      summary: List services
      description: Returns a list of the services for which you have view permissions
        in the given project.
      operationId: get-account-scoped-services
      parameters:
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: service_ids
        in: query
        description: List of Service Identifiers
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: is_access_list
        in: query
        description: Specifies whether the list is an access list. An access list
          is a list of services that you are permitted to use in a pipeline.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: deployment_type
        in: query
        description: Service Definition Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - Kubernetes
          - NativeHelm
          - Ssh
          - WinRm
          - ServerlessAwsLambda
          - AzureWebApp
          - GitOps
          - ECS
          - TAS
          - CustomDeployment
          - Elastigroup
          - Asg
          - GoogleCloudFunctions
          - AwsLambda
          - AWS_SAM
      - name: git_ops_enabled
        in: query
        description: Enables you to use the service in Harness GitOps PR pipelines.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Example response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
                x-content-type: application/json
              examples:
                example-1:
                  value:
                  - service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    - service:
                        account: sample_account
                        identifier: example_service
                        org: sample_organization
                        project: sample_project
                        name: Example_service
                        description: This is a example service
                        tags:
                          example-tag-1: example-tag-1-value
                          example-tag-2: example-tag-2-value
                        yaml: |
                          service:
                            name: "Example_service"
                            identifier: "example_service"
                            tags: {}
                      created: 1234567890
                      updated: 1234567890
      security:
      - x-api-key: []
    post:
      tags:
      - Account Services
      summary: Create a service
      description: Creates a service
      operationId: create-account-scoped-service
      parameters:
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/ServiceCreateRequest'
      responses:
        "201":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value:
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
            application/yaml:
              schema:
                $ref: '#/components/schemas/ServiceResponse'
              examples:
                example-1:
                  value: |
                    service:
                      account: sample_account
                      identifier: example_service
                      org: sample_organization
                      project: sample_project
                      name: Example_service
                      description: This is a example service
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: |
                        service:
                          name: "Example_service"
                          identifier: "example_service"
                          tags: {}
                    created: 1234567890
                    updated: 1234567890
      security:
      - x-api-key: []
  /v1/creditOverUsage/{accountIdentifier}:
    get:
      tags:
      - Credits OverUsage Data By Account
      summary: Get over usage count of Credits for a given account
      operationId: credits-overusage
      parameters:
      - name: accountIdentifier
        in: path
        description: Account Identifier for the Entity.
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          $ref: '#/components/schemas/CreditOverUsage'
        "400":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties: {}
                x-content-type: application/json
      security:
      - bearerAuth: []
      x-internal: false
  /v1/orgs:
    get:
      tags:
      - Organization
      summary: "List organizations [Beta]"
      description: Retrieves the information of the organizations.
      operationId: get-organizations
      parameters:
      - name: org
        in: query
        description: Identifier field of the organizations the resource is scoped
          to
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Organization list response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationResponse'
                x-content-type: application/json
              examples:
                example-organizations-list-response-json:
                  value:
                  - org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organizations-list-response-yaml:
                  value: |
                    - org:
                        identifier: example_organization
                        name: Example Organization
                        description: This is an example organization
                        tags:
                          example-tag-1: example-tag-1-value
                          example-tag-2: example-tag-2-value
                      created: 1234567890
                      updated: 1234567890
                      harness_managed: true
      security:
      - x-api-key: []
    post:
      tags:
      - Organization
      summary: "Create an organization [Beta]"
      description: Creates a new organization.
      operationId: create-organization
      parameters:
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateOrganizationRequest'
      responses:
        "201":
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-json:
                  value:
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-yaml:
                  value: |
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
      security:
      - x-api-key: []
  /v1/orgs/{org}:
    get:
      tags:
      - Organization
      summary: "Retrieve an organization [Beta]"
      description: Retrieves the information of the organization with the matching
        organization identifier.
      operationId: get-organization
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-json:
                  value:
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-yaml:
                  value: |
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
      security:
      - x-api-key: []
    put:
      tags:
      - Organization
      summary: "Update an organization [Beta]"
      description: Updates the information of the organization with the matching organization
        identifier.
      operationId: update-organization
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateOrganizationRequest'
      responses:
        "200":
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-json:
                  value:
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-yaml:
                  value: |
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
      security:
      - x-api-key: []
    delete:
      tags:
      - Organization
      summary: "Delete an organization [Beta]"
      description: Deletes the information of the organization with the matching organization
        identifier.
      operationId: delete-organization
      parameters:
      - name: org
        in: path
        description: Organization identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Organization response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-json:
                  value:
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/OrganizationResponse'
              examples:
                example-organization-response-yaml:
                  value: |
                    org:
                      identifier: example_organization
                      name: Example Organization
                      description: This is an example organization
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                    created: 1234567890
                    updated: 1234567890
                    harness_managed: true
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects:
    get:
      tags:
      - Org Project
      summary: List projects
      description: Retrieves the information of the projects.
      operationId: get-org-scoped-projects
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: query
        description: Identifier field of the projects the resource is scoped to
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: has_module
        in: query
        description: This boolean specifies whether to filter projects which has the
          module of type passed in the moduleType parameter or not
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: true
      - name: module_type
        in: query
        description: Project's module type
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: only_favorites
        in: query
        description: Enable this field to fetch only the entities that are marked
          as favorites.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      responses:
        "200":
          description: Project list response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectResponse'
                x-content-type: application/json
              examples:
                example-project-list-response-json:
                  value:
                  - project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                      - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
            application/yaml:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-list-response-yaml:
                  value: |
                    - project:
                        org: example_org_identifier
                        identifier: example_project_identifier
                        name: example-project-name
                        color: '#0063F7'
                        modules:
                          - CD
                        description: This is a example project
                        tags:
                          property1: value1
                          property2: value2
                      created: 1234567890
                      updated: 1234567890
                      isFavorite: true
      security:
      - x-api-key: []
    post:
      tags:
      - Org Project
      summary: Create a project
      description: Creates a new project
      operationId: create-org-scoped-project
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/CreateProjectRequest'
      responses:
        "201":
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-json:
                  value:
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                      - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-yaml:
                  value: |
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                        - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
      security:
      - x-api-key: []
  /v1/orgs/{org}/projects/{project}:
    get:
      tags:
      - Org Project
      summary: Retrieve a project
      description: Retrieves the information of the project with the matching project
        identifier.
      operationId: get-org-scoped-project
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-json:
                  value:
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                      - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-yaml:
                  value: |
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                        - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
      security:
      - x-api-key: []
    put:
      tags:
      - Org Project
      summary: Update a project
      description: Updates the information of the project with the matching project
        identifier.
      operationId: update-org-scoped-project
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/UpdateProjectRequest'
      responses:
        "200":
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-json:
                  value:
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                      - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-yaml:
                  value: |
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                        - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
      security:
      - x-api-key: []
    delete:
      tags:
      - Org Project
      summary: Delete a project
      description: Deletes the information of the project with the matching project
        identifier.
      operationId: delete-org-scoped-project
      parameters:
      - name: org
        in: path
        description: Identifier field of the organization the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Identifier field of the project the resource is scoped to
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Project response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-json:
                  value:
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                      - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/ProjectResponse'
              examples:
                example-project-response-yaml:
                  value: |
                    project:
                      org: example_org_identifier
                      identifier: example_project_identifier
                      name: example-project-name
                      color: '#0063F7'
                      modules:
                        - CD
                      description: This is a example project
                      tags:
                        property1: value1
                        property2: value2
                    created: 1234567890
                    updated: 1234567890
                    isFavorite: true
      security:
      - x-api-key: []
  /v1/ip-allowlist:
    get:
      tags:
      - IP Allowlist
      summary: List IP Allowlist Configs
      description: Retrieves the information of the IP Allowlist Config
      operationId: get-ip-allowlist-configs
      parameters:
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: Number of items to return per page.
        required: false
        style: form
        explode: true
        schema:
          maximum: 1000
          type: integer
          default: 20
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - name
          - identifier
          - created
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: allowed_source_type
        in: query
        description: This is to filter IP allowlist configs only blocked from UI or
          API
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Example response
          headers:
            X-Total-Elements:
              description: Total number of elements returned in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Number:
              description: Page number in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
            X-Page-Size:
              description: Maximum page size in Paginated response.
              style: simple
              explode: false
              schema:
                type: integer
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/IPAllowlistConfigResponse'
                x-content-type: application/json
      security:
      - x-api-key: []
      x-internal: false
    post:
      tags:
      - IP Allowlist
      summary: Create a IP Allowlist config
      description: Creates a new IP Allowlist config
      operationId: create-ip-allowlist-config
      parameters:
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/IPAllowlistConfigRequest'
      responses:
        "201":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowlistConfigResponse'
      security:
      - x-api-key: []
      x-internal: false
  /v1/ip-allowlist/{ip-config-identifier}:
    get:
      tags:
      - IP Allowlist
      summary: Retrieve a IP Allowlist config
      description: Retrieves the specified IP Allowlist config
      operationId: get-ip-allowlist-config
      parameters:
      - name: ip-config-identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowlistConfigResponse'
      security:
      - x-api-key: []
      x-internal: false
    put:
      tags:
      - IP Allowlist
      summary: Update IP Allowlist config
      description: Updates the specified IP Allowlist config
      operationId: update-ip-allowlist-config
      parameters:
      - name: ip-config-identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
          \ If you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/IPAllowlistConfigRequest'
      responses:
        "200":
          description: Example response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IPAllowlistConfigResponse'
      security:
      - x-api-key: []
      x-internal: false
    delete:
      tags:
      - IP Allowlist
      summary: Delete an IP Allowlist config
      description: Deletes the specified IP Allowlist config
      operationId: delete-ip-allowlist-config
      parameters:
      - name: ip-config-identifier
        in: path
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Identifier field of the account the resource is scoped to. This\
          \ is required for Authorization methods other than the x-api-key header.\
[...]
