openapi: 3.0.0
info:
  title: Harness NextGen Software Delivery Platform API Reference
  description: This is the Open Api Spec 3 for the Templates Validations and Refresh.
    This is under active development. Beware of the breaking change with respect to
    the generated code stub.
  contact:
    email: contact@harness.io
  version: "1.0"
servers:
- url: http://app.harness.io
  description: Harness host url
security:
- x-api-key: []
tags:
- name: Account Template
  description: This contains APIs for performing CRUD operations on Templates at account
    scope.
- name: Org Template
  description: This contains APIs for performing CRUD operations on Templates at org
    scope.
- name: Project Template
  description: This contains APIs for performing CRUD operations on Templates at project
    scope.
paths:
  /v1/templates:
    get:
      tags:
      - Account Template
      summary: Get Templates List
      description: Retrieves list of Template with meta-data at Account scope.
      operationId: get-templates-list-acc
      parameters:
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: Template List Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - STABLE_TEMPLATE
          - LAST_UPDATES_TEMPLATE
          - ALL
      - name: recursive
        in: query
        description: Specify true if all accessible Templates are to be included
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: names
        in: query
        description: Template names for filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: identifiers
        in: query
        description: Template Ids for Filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: description
        in: query
        description: Filter properties description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: Type of Template
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Step
            - Stage
            - Pipeline
            - CustomDeployment
            - MonitoredService
            - SecretManager
      - name: child_types
        in: query
        description: Child types describe the type of Step or stage
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Template Lists Meta Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value:
                  - account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    version_label: example_version
                    entity_type: Step
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value: "- account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  version_label: example_version\n  entity_type: Step\n  child_type:\
                    \ example_child_type\n  scope: org\n  version: 1234567890\n  git_details:\n\
                    \    object_id: example_object\n    branch_name: branch\n    file_path:\
                    \ /folder/file.json\n    repo_name: example_repository\n    commit_id:\
                    \ abcd123\n    file_url: www.repo/folder/file.com\n    repo_url:\
                    \ www.repo.com\n  updated: 1234567890\n  store_type: INLINE\n\
                    \  connector_ref: example_connector_ref\n  stable_template: true\n"
    post:
      tags:
      - Account Template
      summary: Create Template
      description: Creates a Template in the Account scope.
      operationId: create-templates-acc
      parameters:
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateCreateBody'
      responses:
        "201":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                      \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n  \
                      \  type: Custom\n    spec:\n      execution:\n        steps:\n\
                      \          - step:\n              type: ShellScript\n      \
                      \        name: ss1\n              identifier: ss1\n        \
                      \      spec:\n                shell: Bash\n                onDelegate:\
                      \ true\n                source:\n                  type: Inline\n\
                      \                  spec:\n                    script: exit 1\n\
                      \                environmentVariables: []\n                outputVariables:\
                      \ []\n              timeout: 10m\n"
                    version_label: example_version
                    entity_type: Stage
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value: "account: example_account\norg: example_organization\nproject:\
                    \ example_project\nslug: example_template\nname: Example_template\n\
                    description: string\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n\
                    \    name: Example_template\n    identifier: example_template\n\
                    \    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n\
                    \      type: Custom\n      spec:\n        execution:\n       \
                    \   steps:\n            - step:\n                type: ShellScript\n\
                    \                name: ss1\n                identifier: ss1\n\
                    \                spec:\n                  shell: Bash\n      \
                    \            onDelegate: true\n                  source:\n   \
                    \                 type: Inline\n                    spec:\n  \
                    \                    script: exit 1\n                  environmentVariables:\
                    \ []\n                  outputVariables: []\n                timeout:\
                    \ 10m\nversion_label: example_version\nentity_type: Stage\nchild_type:\
                    \ example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n\
                    \  object_id: example_object\n  branch_name: branch\n  file_path:\
                    \ /folder/file.json\n  repo_name: example_repository\n  commit_id:\
                    \ abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\n\
                    updated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\n\
                    stable_template: true\n"
  /v1/templates/{template}:
    get:
      tags:
      - Account Template
      summary: Get Stable Template
      description: Retrieves stable version of Template at Account scope.
      operationId: get-template-stable-acc
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
  /v1/templates/{template}/versions/{version}:
    get:
      tags:
      - Account Template
      summary: Retrieve a Template
      description: Retrieves particular version of Template at Account scope.
      operationId: get-template-acc
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
    put:
      tags:
      - Account Template
      summary: Update Template
      description: Updates particular version of Template at Account scope.
      operationId: update-template-acc
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdateBody'
      responses:
        "200":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                      \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n  \
                      \  type: Custom\n    spec:\n      execution:\n        steps:\n\
                      \          - step:\n              type: ShellScript\n      \
                      \        name: ss1\n              identifier: ss1\n        \
                      \      spec:\n                shell: Bash\n                onDelegate:\
                      \ true\n                source:\n                  type: Inline\n\
                      \                  spec:\n                    script: exit 1\n\
                      \                environmentVariables: []\n                outputVariables:\
                      \ []\n              timeout: 10m\n"
                    version_label: example_version
                    entity_type: Stage
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value: "account: example_account\norg: example_organization\nproject:\
                    \ example_project\nslug: example_template\nname: Example_template\n\
                    description: string\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n\
                    \    name: Example_template\n    identifier: example_template\n\
                    \    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n\
                    \      type: Custom\n      spec:\n        execution:\n       \
                    \   steps:\n            - step:\n                type: ShellScript\n\
                    \                name: ss1\n                identifier: ss1\n\
                    \                spec:\n                  shell: Bash\n      \
                    \            onDelegate: true\n                  source:\n   \
                    \                 type: Inline\n                    spec:\n  \
                    \                    script: exit 1\n                  environmentVariables:\
                    \ []\n                  outputVariables: []\n                timeout:\
                    \ 10m\nversion_label: example_version\nentity_type: Stage\nchild_type:\
                    \ example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n\
                    \  object_id: example_object\n  branch_name: branch\n  file_path:\
                    \ /folder/file.json\n  repo_name: example_repository\n  commit_id:\
                    \ abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\n\
                    updated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\n\
                    stable_template: true\n"
    delete:
      tags:
      - Account Template
      summary: Delete Template
      description: Deletes particular version of Template at Account scope.
      operationId: delete-template-acc
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: comments
        in: query
        description: 'Specify comment with respect to changes  '
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
  /v1/templates/{template}/versions/{version}/stable:
    put:
      tags:
      - Account Template
      summary: Update Stable Template
      description: Updates the stable version of Template at Account scope.
      operationId: update-template-stable-acc
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateFetchBody'
      responses:
        "200":
          description: Template stable version update Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateStableResponse'
              examples:
                example-1:
                  value:
                    stable_version: example_version
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateUpdateStableResponse'
              examples:
                example-1:
                  value: "stable_version: example_version\n"
  /v1/orgs/{org}/templates:
    get:
      tags:
      - Org Template
      summary: Get Templates List
      description: Retrieves list of Template with meta-data at Organization scope.
      operationId: get-templates-list-org
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: Template List Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - STABLE_TEMPLATE
          - LAST_UPDATES_TEMPLATE
          - ALL
      - name: recursive
        in: query
        description: Specify true if all accessible Templates are to be included
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: names
        in: query
        description: Template names for filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: identifiers
        in: query
        description: Template Ids for Filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: description
        in: query
        description: Filter properties description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: Type of Template
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Step
            - Stage
            - Pipeline
            - CustomDeployment
            - MonitoredService
            - SecretManager
      - name: child_types
        in: query
        description: Child types describe the type of Step or stage
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Template Lists Meta Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value:
                  - account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    version_label: example_version
                    entity_type: Step
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value: "- account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  version_label: example_version\n  entity_type: Step\n  child_type:\
                    \ example_child_type\n  scope: org\n  version: 1234567890\n  git_details:\n\
                    \    object_id: example_object\n    branch_name: branch\n    file_path:\
                    \ /folder/file.json\n    repo_name: example_repository\n    commit_id:\
                    \ abcd123\n    file_url: www.repo/folder/file.com\n    repo_url:\
                    \ www.repo.com\n  updated: 1234567890\n  store_type: INLINE\n\
                    \  connector_ref: example_connector_ref\n  stable_template: true\n"
    post:
      tags:
      - Org Template
      summary: Create Template
      description: Creates a Template in the Organization scope.
      operationId: create-templates-org
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateCreateBody'
      responses:
        "201":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                      \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n  \
                      \  type: Custom\n    spec:\n      execution:\n        steps:\n\
                      \          - step:\n              type: ShellScript\n      \
                      \        name: ss1\n              identifier: ss1\n        \
                      \      spec:\n                shell: Bash\n                onDelegate:\
                      \ true\n                source:\n                  type: Inline\n\
                      \                  spec:\n                    script: exit 1\n\
                      \                environmentVariables: []\n                outputVariables:\
                      \ []\n              timeout: 10m\n"
                    version_label: example_version
                    entity_type: Stage
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value: "account: example_account\norg: example_organization\nproject:\
                    \ example_project\nslug: example_template\nname: Example_template\n\
                    description: string\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n\
                    \    name: Example_template\n    identifier: example_template\n\
                    \    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n\
                    \      type: Custom\n      spec:\n        execution:\n       \
                    \   steps:\n            - step:\n                type: ShellScript\n\
                    \                name: ss1\n                identifier: ss1\n\
                    \                spec:\n                  shell: Bash\n      \
                    \            onDelegate: true\n                  source:\n   \
                    \                 type: Inline\n                    spec:\n  \
                    \                    script: exit 1\n                  environmentVariables:\
                    \ []\n                  outputVariables: []\n                timeout:\
                    \ 10m\nversion_label: example_version\nentity_type: Stage\nchild_type:\
                    \ example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n\
                    \  object_id: example_object\n  branch_name: branch\n  file_path:\
                    \ /folder/file.json\n  repo_name: example_repository\n  commit_id:\
                    \ abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\n\
                    updated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\n\
                    stable_template: true\n"
  /v1/orgs/{org}/templates/{template}:
    get:
      tags:
      - Org Template
      summary: Get Stable Template
      description: Retrieves stable version of Template at Organization scope.
      operationId: get-template-stable-org
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
  /v1/orgs/{org}/templates/{template}/versions/{version}:
    get:
      tags:
      - Org Template
      summary: Retrieve a Template
      description: Retrieves particular version of Template at Organization scope.
      operationId: get-template-org
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
    put:
      tags:
      - Org Template
      summary: Update Template
      description: Updates particular version of Template at Organization scope.
      operationId: update-template-org
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdateBody'
      responses:
        "200":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                      \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n  \
                      \  type: Custom\n    spec:\n      execution:\n        steps:\n\
                      \          - step:\n              type: ShellScript\n      \
                      \        name: ss1\n              identifier: ss1\n        \
                      \      spec:\n                shell: Bash\n                onDelegate:\
                      \ true\n                source:\n                  type: Inline\n\
                      \                  spec:\n                    script: exit 1\n\
                      \                environmentVariables: []\n                outputVariables:\
                      \ []\n              timeout: 10m\n"
                    version_label: example_version
                    entity_type: Stage
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value: "account: example_account\norg: example_organization\nproject:\
                    \ example_project\nslug: example_template\nname: Example_template\n\
                    description: string\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n\
                    \    name: Example_template\n    identifier: example_template\n\
                    \    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n\
                    \      type: Custom\n      spec:\n        execution:\n       \
                    \   steps:\n            - step:\n                type: ShellScript\n\
                    \                name: ss1\n                identifier: ss1\n\
                    \                spec:\n                  shell: Bash\n      \
                    \            onDelegate: true\n                  source:\n   \
                    \                 type: Inline\n                    spec:\n  \
                    \                    script: exit 1\n                  environmentVariables:\
                    \ []\n                  outputVariables: []\n                timeout:\
                    \ 10m\nversion_label: example_version\nentity_type: Stage\nchild_type:\
                    \ example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n\
                    \  object_id: example_object\n  branch_name: branch\n  file_path:\
                    \ /folder/file.json\n  repo_name: example_repository\n  commit_id:\
                    \ abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\n\
                    updated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\n\
                    stable_template: true\n"
    delete:
      tags:
      - Org Template
      summary: Delete Template
      description: Deletes particular version of Template at Organization scope.
      operationId: delete-template-org
      parameters:
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: comments
        in: query
        description: 'Specify comment with respect to changes  '
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "204":
          description: No Content
  /v1/orgs/{org}/templates/{template}/versions/{version}/stable:
    put:
      tags:
      - Org Template
      summary: Update Stable Template
      description: Updates the stable version of Template at Organization scope.
      operationId: update-template-stable-org
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateFetchBody'
      responses:
        "200":
          description: Template stable version update Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateUpdateStableResponse'
              examples:
                example-1:
                  value:
                    stable_version: example_version
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateUpdateStableResponse'
              examples:
                example-1:
                  value: "stable_version: example_version\n"
  /v1/orgs/{org}/projects/{project}/templates:
    get:
      tags:
      - Project Template
      summary: Get Templates List
      description: Retrieves list of Template with meta-data at Project scope.
      operationId: get-templates-list-project
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: page
        in: query
        description: "Pagination page number strategy: Specify the page number within\
          \ the paginated collection related to the number of items in each page\t"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 0
      - name: limit
        in: query
        description: "Pagination: Number of items to return"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          default: 30
      - name: sort
        in: query
        description: Parameter on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - slug
          - name
          - updated
      - name: order
        in: query
        description: Order on the basis of which sorting is done.
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - ASC
          - DESC
      - name: search_term
        in: query
        description: This would be used to filter resources having attributes matching
          with search term.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: type
        in: query
        description: Template List Type
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - STABLE_TEMPLATE
          - LAST_UPDATES_TEMPLATE
          - ALL
      - name: recursive
        in: query
        description: Specify true if all accessible Templates are to be included
        required: false
        style: form
        explode: true
        schema:
          type: boolean
          default: false
      - name: names
        in: query
        description: Template names for filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: identifiers
        in: query
        description: Template Ids for Filtering
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      - name: description
        in: query
        description: Filter properties description
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: entity_types
        in: query
        description: Type of Template
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
            enum:
            - Step
            - Stage
            - Pipeline
            - CustomDeployment
            - MonitoredService
            - SecretManager
      - name: child_types
        in: query
        description: Child types describe the type of Step or stage
        required: false
        style: form
        explode: true
        schema:
          uniqueItems: true
          type: array
          items:
            type: string
      responses:
        "200":
          description: Template Lists Meta Data Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value:
                  - account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    version_label: example_version
                    entity_type: Step
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateMetaDataList'
              examples:
                example-1:
                  value: "- account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  version_label: example_version\n  entity_type: Step\n  child_type:\
                    \ example_child_type\n  scope: org\n  version: 1234567890\n  git_details:\n\
                    \    object_id: example_object\n    branch_name: branch\n    file_path:\
                    \ /folder/file.json\n    repo_name: example_repository\n    commit_id:\
                    \ abcd123\n    file_url: www.repo/folder/file.com\n    repo_url:\
                    \ www.repo.com\n  updated: 1234567890\n  store_type: INLINE\n\
                    \  connector_ref: example_connector_ref\n  stable_template: true\n"
    post:
      tags:
      - Project Template
      summary: Create Template
      description: Creates a Template in the Project scope.
      operationId: create-templates-project
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateCreateBody'
      responses:
        "201":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
                    tags:
                      example-tag-1: example-tag-1-value
                      example-tag-2: example-tag-2-value
                    yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                      \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n  \
                      \  type: Custom\n    spec:\n      execution:\n        steps:\n\
                      \          - step:\n              type: ShellScript\n      \
                      \        name: ss1\n              identifier: ss1\n        \
                      \      spec:\n                shell: Bash\n                onDelegate:\
                      \ true\n                source:\n                  type: Inline\n\
                      \                  spec:\n                    script: exit 1\n\
                      \                environmentVariables: []\n                outputVariables:\
                      \ []\n              timeout: 10m\n"
                    version_label: example_version
                    entity_type: Stage
                    child_type: example_child_type
                    scope: org
                    version: 1234567890
                    git_details:
                      object_id: example_object
                      branch_name: branch
                      file_path: /folder/file.json
                      repo_name: example_repository
                      commit_id: abcd123
                      file_url: www.repo/folder/file.com
                      repo_url: www.repo.com
                    updated: 1234567890
                    store_type: INLINE
                    connector_ref: example_connector_ref
                    stable_template: true
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value: "account: example_account\norg: example_organization\nproject:\
                    \ example_project\nslug: example_template\nname: Example_template\n\
                    description: string\ntags:\n  example-tag-1: example-tag-1-value\n\
                    \  example-tag-2: example-tag-2-value\nyaml: |\n  template:\n\
                    \    name: Example_template\n    identifier: example_template\n\
                    \    versionLabel: v1\n    type: Stage\n    tags: {}\n    spec:\n\
                    \      type: Custom\n      spec:\n        execution:\n       \
                    \   steps:\n            - step:\n                type: ShellScript\n\
                    \                name: ss1\n                identifier: ss1\n\
                    \                spec:\n                  shell: Bash\n      \
                    \            onDelegate: true\n                  source:\n   \
                    \                 type: Inline\n                    spec:\n  \
                    \                    script: exit 1\n                  environmentVariables:\
                    \ []\n                  outputVariables: []\n                timeout:\
                    \ 10m\nversion_label: example_version\nentity_type: Stage\nchild_type:\
                    \ example_child_type\nscope: org\nversion: 1234567890\ngit_details:\n\
                    \  object_id: example_object\n  branch_name: branch\n  file_path:\
                    \ /folder/file.json\n  repo_name: example_repository\n  commit_id:\
                    \ abcd123\n  file_url: www.repo/folder/file.com\n  repo_url: www.repo.com\n\
                    updated: 1234567890\nstore_type: INLINE\nconnector_ref: example_connector_ref\n\
                    stable_template: true\n"
  /v1/orgs/{org}/projects/{project}/templates/{template}:
    get:
      tags:
      - Project Template
      summary: Get Stable Template
      description: Retrieves stable version of Template at Project scope.
      operationId: get-template-stable-project
      parameters:
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: project
        in: path
        description: Project Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
  /v1/orgs/{org}/projects/{project}/templates/{template}/versions/{version}:
    get:
      tags:
      - Project Template
      summary: Retrieve a Template
      description: Retrieves particular version of Template at Project scope.
      operationId: get-template-project
      parameters:
      - name: project
        in: path
        description: Project Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      - name: include_yaml
        in: query
        description: Use it to get Template along with Input Set YAML
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: branch_name
        in: query
        description: Name of the branch
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_connector_ref
        in: query
        description: Connector ref of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_repo_name
        in: query
        description: Repo name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_account_id
        in: query
        description: Account name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_org_id
        in: query
        description: Organization name of parent template if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: parent_entity_project_id
        in: query
        description: Project name of parent entity if its remote
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Template With Input reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value:
                    template:
                      account: example_account
                      org: example_organization
                      project: example_project
                      slug: example_template
                      name: Example_template
                      description: string
                      tags:
                        example-tag-1: example-tag-1-value
                        example-tag-2: example-tag-2-value
                      yaml: "template:\n  name: Example_template\n  identifier: example_template\n\
                        \  versionLabel: v1\n  type: Stage\n  tags: {}\n  spec:\n\
                        \    type: Custom\n    spec:\n      execution:\n        steps:\n\
                        \          - step:\n              type: ShellScript\n    \
                        \          name: ss1\n              identifier: ss1\n    \
                        \          spec:\n                shell: Bash\n          \
                        \      onDelegate: true\n                source:\n       \
                        \           type: Inline\n                  spec:\n      \
                        \              script: exit 1\n                environmentVariables:\
                        \ []\n                outputVariables: []\n              timeout:\
                        \ 10m\n"
                      version_label: example_version
                      entity_type: Stage
                      child_type: example_child_type
                      scope: org
                      version: 1234567890
                      git_details:
                        object_id: example_object
                        branch_name: branch
                        file_path: /folder/file.json
                        repo_name: example_repository
                        commit_id: abcd123
                        file_url: www.repo/folder/file.com
                        repo_url: www.repo.com
                      updated: 1234567890
                      store_type: INLINE
                      connector_ref: example_connector_ref
                      stable_template: true
                    inputs: example
            application/yaml:
              schema:
                $ref: '#/components/schemas/TemplateWithInputsResponse'
              examples:
                example-1:
                  value: "template:\n  account: example_account\n  org: example_organization\n\
                    \  project: example_project\n  slug: example_template\n  name:\
                    \ Example_template\n  description: string\n  tags:\n    example-tag-1:\
                    \ example-tag-1-value\n    example-tag-2: example-tag-2-value\n\
                    \  yaml: |\n    template:\n      name: Example_template\n    \
                    \  identifier: example_template\n      versionLabel: v1\n    \
                    \  type: Stage\n      tags: {}\n      spec:\n        type: Custom\n\
                    \        spec:\n          execution:\n            steps:\n   \
                    \           - step:\n                  type: ShellScript\n   \
                    \               name: ss1\n                  identifier: ss1\n\
                    \                  spec:\n                    shell: Bash\n  \
                    \                  onDelegate: true\n                    source:\n\
                    \                      type: Inline\n                      spec:\n\
                    \                        script: exit 1\n                    environmentVariables:\
                    \ []\n                    outputVariables: []\n              \
                    \    timeout: 10m\n  version_label: example_version\n  entity_type:\
                    \ Stage\n  child_type: example_child_type\n  scope: org\n  version:\
                    \ 1234567890\n  git_details:\n    object_id: example_object\n\
                    \    branch_name: branch\n    file_path: /folder/file.json\n \
                    \   repo_name: example_repository\n    commit_id: abcd123\n  \
                    \  file_url: www.repo/folder/file.com\n    repo_url: www.repo.com\n\
                    \  updated: 1234567890\n  store_type: INLINE\n  connector_ref:\
                    \ example_connector_ref\n  stable_template: true\ninputs: example\n"
    put:
      tags:
      - Project Template
      summary: Update Template
      description: Updates particular version of Template at Project scope.
      operationId: update-template-project
      parameters:
      - name: project
        in: path
        description: Project Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: template
        in: path
        description: Template Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: org
        in: path
        description: Organization Identifier
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: version
        in: path
        description: Version Label for Template
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: Harness-Account
        in: header
        description: "Slug field of the account the resource is scoped to. This is\
          \ required for Authorization methods other than the x-api-key header. If\
          \ you are using the x-api-key header, this can be skipped."
        required: false
        style: simple
        explode: false
        schema:
          type: string
      requestBody:
        $ref: '#/components/requestBodies/TemplateUpdateBody'
      responses:
        "200":
          description: Template Response Body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateResponse'
              examples:
                example-1:
                  value:
                    account: example_account
                    org: example_organization
                    project: example_project
                    slug: example_template
                    name: Example_template
                    description: string
[...]
